{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main class="container mx-auto px-4 py-8">
        <h1 class="text-2xl font-bold mb-6">Бронирование столов</h1>

        <!-- Календарь и управление -->
        <div class="bg-white rounded-lg shadow-md p-4 md:p-6 mb-8">
            {% include 'bookings/calendar_controls.html' %}
            <!-- Фильтры -->
            {% include 'bookings/filters.html' %}

            <!-- Представление дня -->
            <div id="day-view-container" class="calendar-container overflow-x-auto">
                {% include 'bookings/day_view.html' %}
            </div>

            <!-- Представление недели -->
            <div id="week-view-container" class="calendar-container hidden overflow-x-auto">

                {% include 'bookings/week_view.html' %}
            </div>
            <!-- Представление месяца -->
            <div id="month-view-container" class="calendar-container hidden">
                {% include 'bookings/month_view.html' %}
            </div>
        </div>


        {% if user.is_authenticated %}
            <div class="mt-8">
                <h2 class="text-lg font-medium mb-4" id="user-bookings-title">
                    Ваши бронирования на <span id="bookings-period-display">{{ current_date }}</span>
                </h2>
            <div id="user-bookings-container" class="overflow-x-auto">
            <!-- Сюда будет вставляться таблица с бронированиями -->
        </div>
            </div>
        {% endif %}

        <!-- Модальное окно для нового бронирования -->
        {% include 'bookings/booking_modal.html' %}

    </main>
{% endblock %}
{% block extrascripts %}
    {#    <script type="module" src="{% static 'js/admin-modals/weekView.js' %}"></script>#}



{% endblock %}