

    <h1 class="text-2xl font-bold mb-6">Расписание на неделю</h1>


    <!-- Легенда -->
    <div class="mt-6 text-sm text-gray-500 flex space-x-4">
        <div><span class="inline-block w-4 h-4 bg-green-100 mr-1 border rounded"></span> Доступно</div>
        <div><span class="inline-block w-4 h-4 bg-yellow-100 mr-1 border rounded"></span> Частично занято</div>
        <div><span class="inline-block w-4 h-4 bg-red-100 mr-1 border rounded"></span> Полностью занято</div>
        <div><span class="inline-block w-4 h-4 bg-gray-100 mr-1 border rounded"></span> Выходной</div>
    </div>


