{% load static %}
{% block content %}

    <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel"
         aria-hidden="true">
        <div class="container py-4">
            <div class="card">
                <div class="card-header">
                    <h2>{% if object %}Редактирование бронирования{% else %}Новое бронирование{% endif %}</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">{{ form.table.label }}</label>
                                    {{ form.table }}
                                    {% if form.table.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.table.errors }}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label">{{ form.start_time.label }}</label>
                                    {{ form.start_time }}
                                    {% if form.start_time.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.start_time.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">{{ form.user.label }}</label>
                                    {{ form.user }}
                                    {% if form.user.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.user.errors }}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label">{{ form.end_time.label }}</label>
                                    {{ form.end_time }}
                                    {% if form.end_time.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.end_time.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">{{ form.notes.label }}</label>
                            {{ form.notes }}
                            {% if form.notes.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.notes.errors }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">{{ form.status.label }}</label>
                            {{ form.status }}
                            {% if form.status.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.status.errors }}
                                </div>
                            {% endif %}
                        </div>

                       
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}